{layout 'admin_base.html'}
{block content}
<div class="ts-app-layout is-horizontal">
    <div class="cell is-fluid is-secondary is-scrollable">
        <div id="content-container" class="ts-container has-vertically-padded-large has-bottom-padded-huge">
            {if $ctx->Message}
            <div class="ts-notice has-bottom-spaced-large">
                <div class="title">{=tr('notice_title')}</div>
                <div class="content">{=$ctx->Message}</div>
            </div>
            {/if}

            <div class="ts-header">{=tr('tags_tags')}</div>

            <form method="POST">
                <input type="hidden" name="_csrf" value="{=$ctx->CSRF}" />
                <div class="ts-box has-top-spaced">
                    <div class="ts-content is-vertically-padded">
                        <!-- name -->
                        <div class="ts-control">
                            <div class="label">{=tr('tags_name')}</div>
                            <div class="content">
                                <div class="ts-input">
                                    <input type="text" name="name" pattern="[^,]+" required maxlength="64"/>
                                </div>
                            </div>
                        </div>
                        <!-- / name -->

                        <!-- description -->
                        <div class="ts-control has-top-spaced-large">
                            <div class="label">{=tr('tags_description')}</div>
                            <div class="content">
                                <div class="ts-input is-resizable">
                                    <textarea name="description" rows="3" maxlength="255"></textarea>
                                </div>
                                <div class="ts-text is-description has-top-spaced-small">{=tr('tags_description_description')}</div>
                            </div>
                        </div>
                        <!-- / description -->
                    </div>
                    <div class="ts-divider"></div>
                    <div class="ts-content is-dense is-secondary is-end-aligned">
                        <button type="submit" class="ts-button">{=tr('button_create')}</button>
                    </div>
                </div>
            </form>

            <div class="ts-header has-top-spaced-big">
                {=tr('tags_list')} {if $ctx->Pagination->TotalCount}
                <span class="ts-badge is-start-spaced is-small">{=$ctx->Pagination->TotalCount}</span>
                {/if}
            </div>
            {if bool_not($ctx->Tags)}
            <div class="ts-content is-tertiary is-vertically-very-padded has-top-spaced">
                <div class="ts-text is-center-aligned is-secondary">{=tr('tags_notfound')}</div>
            </div>
            {else}
            <div class="ts-box has-top-spaced">
                <table class="ts-table is-basic is-striped">
                    <thead>
                        <tr>
                            <th class="is-collapsed">{=tr('tags_name')}</th>
                            <th>{=tr('tags_slug')}</th>
                            <th class="is-collapsed">{=tr('tags_count')}</th>
                            <th class="is-collapsed" />
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $ctx->Tags as $dot1}
                        <tr class="is-middle-aligned">
                            <td class="is-collapsed">{=$dot1->Name}</td>
                            <td>
                                <a href="{=$ctx->URL->RelativeRoot}tag/{=$dot1->Slug}" target="_blank" class="ts-badge is-secondary">{=$dot1->Slug}</a>
                            </td>
                            <td class="is-collapsed">{=$dot1->PostCount}</td>
                            <td class="is-collapsed">
                                <a href="{=$ctx->URL->RelativeRoot}admin/tag/{=$dot1->ID}" class="ts-button is-small is-dense is-outlined">{=tr('button_edit')}</a>
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>

            <div class="ts-grid is-end-aligned has-top-spaced">
                <div class="column">{include 'admin_pagination.html'}</div>
            </div>
            <!-- -->
            {/if}
        </div>
    </div>
    <div class="cell" style="width: 290px">
        <form method="get">
            <div class="ts-content">
                <div class="ts-header is-large">{=tr('sidebar_filter')}</div>
                <div class="ts-text is-label has-top-spaced-large">{=tr('tags_nameorslug')}</div>
                <div class="ts-input is-fluid has-top-spaced">
                    <input type="text" name="keyword" value="{=$ctx->Keyword}" required />
                </div>
                <div class="ts-divider is-section"></div>
                <div class="ts-wrap is-vertical">
                    <button type="submit" class="ts-button is-fluid">{=tr('button_filterapply')}</button>
                    {if $ctx->Keyword}
                    <a href="{=$ctx->URL->RelativeRoot}admin/tags" class="ts-button is-outlined">{=tr('button_filterreset')}</a>
                    {/if}
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
