{{ define "content" }}
<link rel="stylesheet" href="{=$ctx->URL->RelativeRoot}admin/assets/style.css" />
<div id="content-container" class="ts-container has-vertically-padded-large has-bottom-padded-huge">
    {if $ctx->Message}
    <div class="ts-notice has-bottom-spaced-large">
        <div class="title">{=tr('notice_title')}</div>
        <div class="content">{=$ctx->Message}</div>
    </div>
    {/if}

    <div class="ts-header">{=tr('settings_settings')}</div>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{=$ctx->CSRF}" />
        <div class="ts-box has-top-spaced">
            <div class="ts-content is-vertically-padded">
                <!-- name -->
                <div class="ts-control">
                    <div class="label">{=tr('settings_name')}</div>
                    <div class="content">
                        <div class="ts-input">
                            <input type="text" name="name" value="{=$ctx->Config->Name}" />
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">{=tr('settings_name_description')}</div>
                    </div>
                </div>
                <!-- / name -->

                <!-- description -->
                <div class="ts-control has-top-spaced-large">
                    <div class="label">{=tr('settings_slogan')}</div>
                    <div class="content">
                        <div class="ts-input">
                            <input type="text" name="description" value="{=$ctx->Config->Description}" />
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">{=tr('settings_slogan_description')}</div>
                    </div>
                </div>
                <!-- / description -->

                <!-- is_public -->
                <div class="ts-control has-top-spaced-large">
                    <div class="label">{=tr('settings_ispublic')}</div>
                    <div class="content is-padded">
                        <label class="ts-checkbox">
                            <input type="checkbox" name="is_public" value="true" {if $ctx->Config->IsPublic}checked{/if} />
                            {=tr('settings_ispublic_label')}
                        </label>
                        <div class="ts-text is-description has-top-spaced-small">{=tr('settings_ispublic_descriptrion')}</div>
                    </div>
                </div>
                <!-- / is_public -->

                <div class="ts-divider has-vertically-spaced-big"></div>

                <!-- timezone -->
                <div class="ts-control">
                    <div class="label">{=tr('settings_timezone')}</div>
                    <div class="content">
                        <div class="ts-select">
                            <select name="timezone">
                                {foreach $ctx->Timezones as $k => $v}
                                <option value="{=$v}" {if eq($ctx->Config->Timezone, $v)}selected{/if}>({=$k}) {=timezone($v)}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>
                <!-- / timezone -->

                <!-- locale -->
                <div class="ts-control has-top-spaced-large">
                    <div class="label">{=tr('settings_locale')}</div>
                    <div class="content">
                        <div class="ts-select">
                            <select name="locale">
                                {foreach $ctx->Locales as $k => $v}
                                <option value="{=$v}" {if eq($ctx->Config->Locale, $v)}selected{/if}>{=$k}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>
                <!-- / timezone -->

                <!-- date_format -->
                <div class="ts-control has-top-spaced-large">
                    <div class="label">{=tr('settings_dateformat')}</div>
                    <div class="content is-padded">
                        <div class="ts-wrap is-vertical is-compact">
                            <label class="ts-radio">
                                <input name="date_format" value="2006-01-02" type="radio" {if eq($ctx->Config->DateFormat, '2006-01-02')}checked{/if} />
                                {=$ctx->Year}-{=$ctx->Month}-{=$ctx->Day}
                            </label>
                            <label class="ts-radio">
                                <input name="date_format" value="01/02/2006" type="radio" {if eq($ctx->Config->DateFormat, '01/02/2006')}checked{/if} />
                                {=$ctx->Day}/{=$ctx->Month}/{=$ctx->Year}
                            </label>
                            <label class="ts-radio">
                                <input name="date_format" value="02/01/2006" type="radio" {if eq($ctx->Config->DateFormat, '02/01/2006')}checked{/if} />
                                {=$ctx->Month}/{=$ctx->Day}/{=$ctx->Year}
                            </label>
                            <div>
                                <div class="ts-grid is-middle-aligned">
                                    <div class="column">
                                        <label class="ts-radio">
                                            <!-- prettier-ignore -->
                                            <input name="date_format" type="radio" value="custom" {if $ctx->IsCustomDateFormat}checked{/if} />
                                            {=tr('settings_dateformat_custom')}
                                        </label>
                                    </div>
                                    <div class="column is-fluid">
                                        <div class="ts-input">
                                            <input name="date_format_custom" type="text" value="{=$ctx->Config->DateFormat}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / date_format -->

                <!-- time_format -->
                <div class="ts-control has-top-spaced-large">
                    <div class="label">{=tr('settings_timeformat')}</div>
                    <div class="content is-padded">
                        <div class="ts-wrap is-vertical is-compact">
                            <label class="ts-radio">
                                <input name="time_format" value="PM 03:04" type="radio" {if eq($ctx->Config->TimeFormat, 'PM 03:04')}checked{/if} />
                                {=$ctx->Clock} {=$ctx->Hour}:{=$ctx->Minute}
                            </label>
                            <label class="ts-radio">
                                <input name="time_format" value="03:04 PM" type="radio" {if eq($ctx->Config->TimeFormat, '03:04 PM')}checked{/if} />
                                {=$ctx->Hour}:{=$ctx->Minute} {=$ctx->Clock}
                            </label>
                            <label class="ts-radio">
                                <input name="time_format" value="15:04" type="radio" {if eq($ctx->Config->TimeFormat, '15:04')}checked{/if} />
                                {=$ctx->Hour24}:{=$ctx->Minute}
                            </label>
                            <div>
                                <div class="ts-grid is-middle-aligned">
                                    <div class="column">
                                        <label class="ts-radio">
                                            <!-- prettier-ignore -->
                                            <input name="time_format" type="radio" value="custom" {if $ctx->IsCustomTimeFormat}checked{/if} />
                                            {=tr('settings_dateformat_custom')}
                                        </label>
                                    </div>
                                    <div class="column is-fluid">
                                        <div class="ts-input">
                                            <input name="time_format_custom" type="text" value="{=$ctx->Config->TimeFormat}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">
                            {=tr('settings_timeformat_description')}
                        </div>
                    </div>
                </div>
                <!-- / time_format -->
            </div>
            <div class="ts-divider"></div>
            <div class="ts-content is-dense is-secondary">
                <div class="ts-wrap is-end-aligned">
                    <button class="ts-button">{=tr('button_savechanges')}</button>
                </div>
            </div>
        </div>
    </form>

    <div class="ts-header has-top-spaced-big">{=tr('settings_about')}</div>
    <div class="ts-content is-rounded is-tertiary is-very-padded has-top-spaced">
        <div class="ts-grid is-middle-aligned is-relaxed">
            <div class="column is-fluid">
                <div class="ts-text is-description">
                    <p>{=trf('settings_versions', $ctx->Version, $ctx->RuntimeVersion)}</p>
                    {=tr('settings_madeof')}
                </div>
            </div>
            <div class="column">
                <div class="ts-image logo">
                    <img src="{=$ctx->URL->RelativeRoot}admin/assets/caris-events.svg" width="120" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
