{layout 'admin_base.html'}
{block content}
<div id="content-container" class="ts-container has-vertically-padded-large has-bottom-padded-huge">
    {if $ctx->Message}
    <div class="ts-notice has-bottom-spaced-large">
        <div class="title">{=tr('notice_title')}</div>
        <div class="content">{=$ctx->Message}</div>
    </div>
    {/if}

    <div class="ts-header">{=tr('tagedit_tagedit')}</div>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{=$ctx->CSRF}" />
        <div class="ts-box has-top-spaced">
            <div class="ts-content is-vertically-padded">
                <!-- name -->
                <div class="ts-control">
                    <div class="label">{=tr('tags_name')}</div>
                    <div class="content">
                        <div class="ts-input">
                            <input type="text" name="name" pattern="[^,]+" value="{=$ctx->Tag->Name}" required maxlength="64" />
                        </div>
                    </div>
                </div>
                <!-- / name -->

                <!-- slug -->
                <div class="ts-control has-top-spaced-large">
                    <div class="label">{=tr('tags_slug')}</div>
                    <div class="content">
                        <div class="ts-input">
                            <input type="text" name="slug" value="{=$ctx->Tag->Slug}" required maxlength="64" />
                        </div>
                    </div>
                </div>
                <!-- / slug -->

                <!-- description -->
                <div class="ts-control has-top-spaced-large">
                    <div class="label">{=tr('tags_description')}</div>
                    <div class="content">
                        <div class="ts-input is-resizable">
                            <textarea name="description" rows="3">{=$ctx->Tag->Description}</textarea>
                        </div>
                    </div>
                </div>
                <!-- / description -->
            </div>
            <div class="ts-divider"></div>
            <div class="ts-content is-dense is-secondary">
                <div class="ts-wrap is-end-aligned">
                    <a href="../tags" class="ts-button is-outlined">{=tr('button_back')}</a>
                    <button type="submit" name="action" value="update" class="ts-button">{=tr('button_savechanges')}</button>
                </div>
            </div>
        </div>
    </form>
    <div class="ts-header has-top-spaced-huge">{=tr('tagedit_manage')}</div>
    <div class="ts-box has-top-spaced">
        <div class="ts-content is-vertically-padded">
            <div class="ts-control">
                <div class="label">{=tr('tagedit_deletetag')}</div>
                <div class="content">
                    <form action="{=$ctx->Tag->ID}/delete" method="POST" onsubmit="return confirm(`{=trf('alert_deletetag', $ctx->Tag->Name)}`)">
                        <input type="hidden" name="_csrf" value="{=$ctx->CSRF}" />
                        <button type="submit" class="ts-button is-negative is-outlined">{=tr('button_deletetag')}</button>
                        {if $ctx->Tag->PostCount}
                        <div class="ts-text is-description has-top-spaced">{=trf('tagedit_deletetag_description', $ctx->Tag->PostCount)}</div>
                        {/if}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
