{{ define "pagination" }}
<div class="ts-pagination is-secondary">
    <a class="item is-back {if eq($ctx->Pagination->CurrentPage, 1)}is-disabled{/if}" href="?{=$ctx->Pagination->Query}page={=sub($ctx->Pagination->CurrentPage, 1)}"></a>

    {if gt($ctx->Pagination->CurrentPage, 3)}
        <a href="?{=$ctx->Pagination->Query}page=1" class="item">1</a>
        {if gt($ctx->Pagination->CurrentPage, 4)}
            <span class="item is-skipped"></span>
        {/if}
    {/if}

    {foreach seq(max(1, sub($ctx->Pagination->CurrentPage, 2)), min($ctx->Pagination->TotalPages, add($ctx->Pagination->CurrentPage, 2))) as $i}
        {if eq($i, $ctx->Pagination->CurrentPage)}
            <a href="#!" class="item is-active">{=$i}</a>
        {else}
            <a href="?{=$ctx->Pagination->Query}page={=$i}" class="item">{=$i}</a>
        {/if}
    {/foreach}

    {if lt($ctx->Pagination->CurrentPage, sub($ctx->Pagination->TotalPages, 2))}
        {if lt($ctx->Pagination->CurrentPage, sub($ctx->Pagination->TotalPages, 3))}
            <span class="item is-skipped"></span>
        {/if}
        <a href="?{=$ctx->Pagination->Query}page={=$ctx->Pagination->TotalPages}" class="item">{=$ctx->Pagination->TotalPages}</a>
    {/if}

    <a href="?{=$ctx->Pagination->Query}page={=add($ctx->Pagination->CurrentPage, 1)}" class="item is-next {if eq($ctx->Pagination->CurrentPage, $ctx->Pagination->TotalPages)}is-disabled{/if}"></a>
</div>
{{ end }}
