{layout 'admin_base.html'}
{block content}
<div class="ts-app-layout is-horizontal">
    <div class="cell is-fluid is-secondary is-scrollable">
        <div id="content-container" class="ts-container has-top-spaced-large has-bottom-spaced-big">
            {if $ctx->Message}
            <div class="ts-notice has-bottom-spaced-large">
                <div class="title">{=tr('notice_title')}</div>
                <div class="content">{=$ctx->Message}</div>
            </div>
            {/if}

            <div class="ts-header">{=tr('photos_photos')}</div>

            <form method="POST" enctype="multipart/form-data">
                <input type="hidden" name="_csrf" value="{=$ctx->CSRF}" />
                <div class="ts-box has-top-spaced">
                    <div class="ts-content is-vertically-padded">
                        <div class="ts-control">
                            <div class="label">{=tr('photos_file')}</div>
                            <div class="content">
                                <div class="ts-file">
                                    <input type="file" name="photo_file[]" multiple accept="image/*" required />
                                </div>
                                    <div class="ts-text is-description has-top-spaced-small">
                                    {=tr('photos_file_description')}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ts-divider"></div>
                    <div class="ts-content is-dense is-secondary is-end-aligned">
                        <button type="submit" class="ts-button">{=tr('button_upload')}</button>
                    </div>
                </div>
            </form>


            <div class="ts-header has-top-spaced-big">
                {=tr('photos_list')} {if $ctx->Pagination->TotalCount}
                <span class="ts-badge is-start-spaced is-small">{=$ctx->Pagination->TotalCount}</span>
                {/if}
            </div>

            {if bool_not($ctx->Files)}
            <div class="ts-content is-tertiary is-vertically-very-padded has-top-spaced">
                <div class="ts-text is-center-aligned is-secondary">{=tr('photos_notfound')}</div>
            </div>
            {else} {foreach $ctx->Files as $groupKey => $group}
            <div class="ts-divider is-section is-start-text">{=$group->Year} / {=$group->Month}</div>
            <div class="ts-grid is-5-columns">
                {foreach $group->Filenames as $fileKey => $file}
                <div class="column">
                    <button class="ts-image is-1-by-1 is-bordered is-rounded" data-dropdown="dropdown-{=$groupKey}-{=$fileKey}">
                        <img src="{=$ctx->URL->RelativeRoot}uploads/images/{=$group->Year}/{=$group->Month}/{=$file}" />
                    </button>
                    <form action="{=$ctx->URL->RelativeRoot}admin/photo/delete?{=$ctx->Pagination->Query}page={=$ctx->Pagination->CurrentPage}" method="POST" onsubmit="return confirm(`{=tr('alert_deletephoto')}`)">
                        <input type="hidden" name="_csrf" value="{=$ctx->CSRF}" />
                        <input name="path" type="hidden" value="{=$group->Year}/{=$group->Month}/{=$file}" />
                        <div class="ts-dropdown" id="dropdown-{=$groupKey}-{=$fileKey}">
                            <a href="{=$ctx->URL->RelativeRoot}uploads/images/{=$group->Year}/{=$group->Month}/{=$file}" target="_blank" class="item">
                                {=tr('photos_dropdown_view')}
                            </a>
                            <div class="divider"></div>
                            <button type="submit" class="item" style="--color: var(--ts-negative-400)">
                                {=tr('photos_dropdown_delete')}
                            </button>
                        </div>
                    </form>
                </div>
                {/foreach}
            </div>
            {/foreach}

            <div class="ts-grid is-end-aligned has-top-spaced">
                <div class="column">
                    {include 'admin_pagination.html'}
                </div>
            </div>
            {/if}
        </div>
    </div>
</div>
{/block}
