{layout 'admin_base.html'}
{block content}
<div class="ts-app-layout is-horizontal">
    <div class="cell is-secondary is-scrollable is-fluid">
        <div id="content-container" class="ts-container has-vertically-padded-large has-bottom-padded-huge">
            {if $ctx->Message}
            <div class="ts-notice has-bottom-spaced-large">
                <div class="title">{=tr('notice_title')}</div>
                <div class="content">{=$ctx->Message}</div>
            </div>
            {/if}

            <div class="ts-grid is-middle-aligned">
                <div class="column is-fluid">
                    <div class="ts-header">
                        {=tr('posts_list')}
                    </div>
                </div>
                <div class="column">
                    <a href="./post/create" class="ts-button is-start-labeled-icon">
                        <span class="ts-icon is-plus-icon"></span>
                        {=tr('button_createpost')}
                    </a>
                </div>
            </div>

            {if eq($ctx->Visibility, 'trash')}
            <form action="trashes/clear" method="POST" onsubmit="return confirm(`{=tr('alert_deleteposts')}`);">
                <input type="hidden" name="_csrf" value="{=$ctx->CSRF}" />
                <div class="ts-snackbar has-flex is-fluid has-top-spaced">
                    <div class="content has-flex-1">{=tr('notice_autodeleteposts')}</div>
                    <button type="submit" class="action is-negative">{=tr('button_deleteposts')}</button>
                </div>
            </form>
            {/if}

            {if $ctx->PostCount->All}
            <div class="ts-tab has-top-spaced-small">
                {if $ctx->PostCount->NonTrash}
                <a href="." class="item {if bool_not($ctx->Visibility)}is-active{/if}">
                    {=tr('posts_tab_all')} <span class="ts-badge is-outlined">{=$ctx->PostCount->NonTrash}</span>
                </a>
                {/if}
                {if $ctx->PostCount->Public}
                <a href="?visibility=public" class="item {if eq($ctx->Visibility, 'public')}is-active{/if}">
                    {=tr('posts_tab_public')} <span class="ts-badge is-outlined">{=$ctx->PostCount->Public}</span>
                </a>
                {/if}
                {if $ctx->PostCount->Draft}
                <a href="?visibility=draft" class="item {if eq($ctx->Visibility, 'draft')}is-active{/if}">
                    {=tr('posts_tab_draft')} <span class="ts-badge is-outlined">{=$ctx->PostCount->Draft}</span>
                </a>
                {/if}
                {if $ctx->PostCount->Password}
                <a href="?visibility=password" class="item {if eq($ctx->Visibility, 'password')}is-active{/if}">
                    {=tr('posts_tab_password')} <span class="ts-badge is-outlined">{=$ctx->PostCount->Password}</span>
                </a>
                {/if}
                {if $ctx->PostCount->Private}
                <a href="?visibility=private" class="item {if eq($ctx->Visibility, 'private')}is-active{/if}">
                    {=tr('posts_tab_private')} <span class="ts-badge is-outlined">{=$ctx->PostCount->Private}</span>
                </a>
                {/if}
                {if $ctx->PostCount->Trash}
                <a href="?visibility=trash" class="item {if eq($ctx->Visibility, 'trash')}is-active{/if}">
                    {=tr('posts_tab_trash')} <span class="ts-badge is-outlined">{=$ctx->PostCount->Trash}</span>
                </a>
                {/if}
            </div>

            <div class="ts-divider"></div>
            {/if}

            {if bool_not($ctx->Posts)}
            <div class="ts-content is-rounded is-tertiary is-vertically-very-padded has-top-spaced">
                <div class="ts-text is-center-aligned is-secondary">{=tr('posts_notfound')}</div>
            </div>
            {else}
            <div class="ts-box has-top-spaced">
                <table class="ts-table is-basic is-striped has-break-all">
                    <thead>
                        <tr>
                            <th>{=tr('posts_title')}</th>
                            <th class="is-collapsed">{=tr('posts_author')}</th>
                            <th class="is-collapsed">{=tr('posts_date')}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $ctx->Posts as $k => $v}
                        <tr class="posts-item">
                            <td>
                                <div class="ts-grid">
                                    <div class="column">
                                        <div class="ts-image is-rounded is-bordered is-1-by-1">
                                            {if $v->Cover}
                                            <img class="item-cover" src="{=$v->Cover}">
                                            {else}
                                            <img class="item-cover" src="assets/1-1.png">
                                            {/if}
                                        </div>
                                    </div>
                                    <div class="column is-fluid">
                                        {if $v->PinnedAt}
                                        <span class="item-pinned ts-icon is-star-icon" data-tooltip="{=tr('posts_helper_pinned')}"></span>
                                        {/if}
                                        {if $v->TrashedAt}
                                        <span class="ts-text is-bold">{=$v->Title}</span>
                                        {else}
                                        <a href="{=$ctx->URL->RelativeRoot}admin/post/{=$v->ID}" class="ts-text is-link is-bold is-undecorated">{=$v->Title}</a>
                                        {/if}
                                        {if bool_and(eq($v->Visibility, 'password'), ne($ctx->Visibility, 'password'))}
                                        <span class="ts-text is-secondary">{=tr('posts_helper_password')}</span>
                                        {/if}
                                        {if bool_and(eq($v->Visibility, 'private'), ne($ctx->Visibility, 'private'))}
                                        <span class="ts-text is-secondary">{=tr('posts_helper_private')}</span>
                                        {/if}
                                        {if bool_and(eq($v->Visibility, 'draft'), ne($ctx->Visibility, 'draft'))}
                                        <span class="ts-text is-secondary">{=tr('posts_helper_draft')}</span>
                                        {/if}
                                        <br />

                                        {if bool_not($v->TrashedAt)}
                                        <form action="post/{=$v->ID}/trash" method="POST">
                                            <input type="hidden" name="_csrf" value="{=$ctx->CSRF}" />
                                            <div class="item-actions ts-meta is-secondary is-small has-leading-none">
                                                <a href="{=$ctx->URL->RelativeRoot}admin/post/{=$v->ID}" class="item">
                                                    {=tr('button_edit')}
                                                </a>
                                                <button type="submit" class="item actions-negative">
                                                    {=tr('button_trashpost')}
                                                </button>
                                                <a href="{=$ctx->URL->RelativeRoot}post/{=$v->Slug}" target="_blank" class="item ts-text is-external-link">
                                                    {=tr('button_viewpost')}
                                                </a>
                                            </div>
                                        </form>
                                        {else}

                                        <form action="post/{=$v->ID}/untrash" method="POST">
                                            <input type="hidden" name="_csrf" value="{=$ctx->CSRF}" />
                                            <div class="item-actions ts-meta is-secondary is-small has-leading-none">
                                                <button type="submit" class="item">
                                                    {=tr('button_untrashpost')}
                                                </button>
                                                <button type="submit" class="item actions-negative" formaction="post/{=$v->ID}/delete" onclick='return confirm("{=trf('alert_deletepost', $v->Title)}");'>
                                                    {=tr('button_deletepost')}
                                                </button>
                                            </div>
                                        </form>

                                        {/if}
                                    </div>
                                </div>
                            </td>
                            <td class="is-collapsed">
                                {=$v->Author->Nickname}
                            </td>
                            <td class="is-collapsed has-leading-none">
                                {=$v->PublishedAtDatetime}
                                <div class="ts-wrap is-compact has-top-spaced-small">
                                    {if bool_and(bool_not($v->IsPublished), eq($v->Visibility, 'public'))}
                                    <div class="ts-badge is-outlined">{=tr('posts_helper_scheduled')}</div>
                                    {/if}
                                </div>
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>

            <div class="ts-grid is-end-aligned has-top-spaced">
                <div class="column">
                    {include 'admin_pagination.html'}
                </div>
            </div>
            <!-- -->
            {/if}
        </div>
    </div>


    <div class="cell" style="width: 290px">
        <form method="get">
            <div class="ts-content">
                <div class="ts-header is-large">{=tr('sidebar_filter')}</div>
                <div class="ts-text is-label has-top-spaced-large">{=tr('posts_title')}</div>
                <div class="ts-input is-fluid has-top-spaced">
                    <input type="text" name="title" value="{=$ctx->Query->Title}" />
                </div>
                <div class="ts-text is-label has-top-spaced-large">{=tr('posts_author')}</div>
                <div class="ts-select is-fluid has-top-spaced">
                    <select name="author_id">
                        <option value="" {if eq($ctx->Query->AuthorID, '')}selected{/if}>
                            {=tr('option_any')}
                        </option>
                        {foreach $ctx->Users as $dot1}
                        <option value="{=$dot1->ID}" {if eq($ctx->Query->AuthorID, $dot1->ID)}selected{/if}>{=$dot1->Nickname}</option>
                        {/foreach}
                    </select>
                </div>
                <input type="hidden" name="visibility" value="{=$ctx->Visibility}">
                <div class="ts-text is-label has-top-spaced-large">{=tr('posts_date')}</div>
                <div class="ts-select is-fluid has-top-spaced">
                    <select name="published_date">
                        <option value="">
                            {=tr('option_any')}
                        </option>
                        {foreach $ctx->Dates as $dot2}
                        <option value="{=$dot2}" {if eq($ctx->Query->PublishedDate, $dot2)}selected{/if}>{=$dot2}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="ts-divider is-section"></div>
                <div class="ts-wrap is-vertical">
                    <button type="submit" class="ts-button is-fluid">
                        {=tr('button_filterapply')}
                    </button>
                    {if $ctx->IsQuerySetted}
                    <a href="{=$ctx->URL->RelativeRoot}admin/posts" class="ts-button is-outlined is-fluid">
                        {=tr('button_filterreset')}
                    </a>
                    {/if}
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
