{layout 'admin_base.html'}
{block content}
<div id="content-container" class="ts-container has-vertically-padded-large has-bottom-padded-huge">
    {if $ctx->Message}
    <div class="ts-notice has-bottom-spaced-large">
        <div class="title">{=tr('notice_title')}</div>
        <div class="content">{=$ctx->Message}</div>
    </div>
    {/if}

    <div class="ts-header">{=tr('useredit_useredit')}</div>
    <form action="{=$ctx->User->ID}" enctype="multipart/form-data" method="POST">
        <input type="hidden" name="_csrf" value="{=$ctx->CSRF}" />
        <div class="ts-box has-top-spaced">
            <div class="ts-content is-vertically-padded">
                <!-- avatar -->
                <div class="ts-control">
                    <div class="label">{=tr('useredit_avatar')}</div>
                    <div class="content">
                        <div class="ts-image is-rounded is-bordered is-1-by-1">
                            <img src="{=$ctx->User->Gravatar}" width="128" height="128" alt="" />
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">{=html(tr('useredit_avatar_description'))}</div>
                    </div>
                </div>
                <!-- / avatar -->

                <!-- email -->
                <div class="ts-control has-top-spaced-large">
                    <div class="label">{=tr('users_email')}</div>
                    <div class="content">
                        <div class="ts-input">
                            <input type="email" name="email" value="{=$ctx->User->Email}" required />
                        </div>
                    </div>
                </div>
                <!-- / email -->

                <!-- nickname -->
                <div class="ts-control has-top-spaced-large">
                    <div class="label">{=tr('users_nickname')}</div>
                    <div class="content">
                        <div class="ts-input">
                            <input type="text" name="nickname" value="{=$ctx->User->Nickname}" required minlength="1" maxlength="32" />
                        </div>
                    </div>
                </div>
                <!-- / nickname -->

                <!-- password -->
                <div class="ts-control has-top-spaced-large">
                    <div class="label">{=tr('users_password')}</div>
                    <div class="content">
                        <div class="ts-input">
                            <input type="password" name="password" autocomplete="new-password" minlength="1" maxlength="128" />
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">{=tr('useredit_password_description')}</div>
                    </div>
                </div>
                <!-- / password -->

                <!-- bio -->
                <div class="ts-control has-top-spaced-large">
                    <div class="label">{=tr('useredit_bio')}</div>
                    <div class="content">
                        <div class="ts-input is-resizable">
                            <textarea name="bio" rows="5" maxlength="255">{=$ctx->User->Bio}</textarea>
                        </div>
                        <div class="ts-text is-description has-top-spaced-small">{=tr('useredit_bio_description')}</div>
                    </div>
                </div>
                <!-- / bio -->
            </div>
            <div class="ts-divider"></div>
            <div class="ts-content is-dense is-secondary">
                <div class="ts-wrap is-end-aligned">
                    <a href="{=$ctx->URL->RelativeRoot}admin/users" class="ts-button is-outlined">{=tr('button_back')}</a>
                    <button type="submit" name="action" value="update" class="ts-button">{=tr('button_savechanges')}</button>
                </div>
            </div>
        </div>
    </form>

    {if bool_and(bool_not($ctx->IsOnlyUser), ne($ctx->User->ID, $ctx->Self->ID))}
    <div class="ts-header has-top-spaced-big">{=tr('useredit_manage')}</div>
    <div class="ts-box has-top-spaced">
        <div class="ts-content is-vertically-padded">
            <div class="ts-control">
                <div class="label">{=tr('useredit_deleteuser')}</div>
                <div class="content {if bool_and($ctx->IsDeletable, $ctx->PostCount)}is-padded{/if}">
                    <form action="{=$ctx->User->ID}/delete" method="POST" onsubmit="return confirm(`{=trf('alert_deleteuser', $ctx->User->Nickname)}`)">
                        <input type="hidden" name="_csrf" value="{=$ctx->CSRF}" />
                        <div class="{if bool_not($ctx->PostCount)}has-hidden{/if}">
                            <div class="ts-text">{=trf('useredit_deleteuser_description', $ctx->PostCount)}</div>
                            <div class="ts-select is-fluid has-top-spaced">
                                <select name="transfer_to_id">
                                    <option value="" selected>{=tr('option_notransfer')}</option>
                                    {foreach $ctx->Users as $dot1} {if ne($dot1->ID, $ctx->User->ID)}
                                    <option value="{=$dot1->ID}">{=$dot1->Nickname}（{=$dot1->Email}）</option>
                                    {/if} {/foreach}
                                </select>
                            </div>
                            <div class="ts-divider is-section"></div>
                        </div>
                        <button type="submit" name="action" value="delete" class="ts-button is-negative">{=tr('button_deleteuser')}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {/if}
</div>
{/block}
