{{ define "content" }}
<div id="content-container" class="ts-container has-vertically-padded-large has-bottom-padded-huge">
    {if $ctx->Message}
    <div class="ts-notice has-bottom-spaced-large">
        <div class="title">{=tr('notice_title')}</div>
        <div class="content">{=$ctx->Message}</div>
    </div>
    {/if}
    <div class="ts-header">{=tr('users_users')}</div>
    <form method="POST">
        <input type="hidden" name="_csrf" value="{=$ctx->CSRF}" />
        <div class="ts-box has-top-spaced">
            <div class="ts-content is-vertically-padded">
                <!-- email -->
                <div class="ts-control">
                    <div class="label">{=tr('users_email')}</div>
                    <div class="content">
                        <div class="ts-input is-fluid">
                            <input type="email" name="email" required />
                        </div>
                    </div>
                </div>
                <!-- / email -->

                <!-- password -->
                <div class="ts-control has-top-spaced-large">
                    <div class="label">{=tr('users_password')}</div>
                    <div class="content">
                        <div class="ts-input is-fluid">
                            <input type="password" name="password" autocomplete="new-password" required />
                        </div>
                    </div>
                </div>
                <!-- / password -->
            </div>
            <div class="ts-divider"></div>
            <div class="ts-content is-dense is-secondary is-end-aligned">
                <button type="submit" class="ts-button">{=tr('button_create')}</button>
            </div>
        </div>
    </form>

    <div class="ts-header has-top-spaced-big">
        {=tr('users_list')}
        <div class="ts-badge is-start-spaced is-small">{=len($ctx->Users)}</div>
    </div>
    <div class="ts-box has-top-spaced">
        <table class="ts-table is-basic is-striped">
            <thead>
                <tr>
                    <th class="is-collapsed">{=tr('users_email')}</th>
                    <th>{=tr('users_nickname')}</th>
                    <th class="is-collapsed">{=tr('users_createdat')}</th>
                    <th class="is-collapsed"></th>
                </tr>
            </thead>
            <tbody>
                {foreach $ctx->Users as $dot1}
                <tr class="is-middle-aligned">
                    <td class="is-collapsed">{=$dot1->Email}</td>
                    <td>{=$dot1->Nickname}</td>
                    <td class="is-collapsed">{=unix2date($dot1->CreatedAt)}</td>
                    <td class="is-collapsed">
                        <a href="user/{=$dot1->ID}" class="ts-button is-small is-dense is-outlined">{=tr('button_edit')}</a>
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>
{{ end }}
