<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="{=$ctx->URL->RelativeRoot}admin/assets/tocas.min.css" />
        <script src="{=$ctx->URL->RelativeRoot}admin/assets/tocas.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="icon" type="image/png" href="{=$ctx->URL->RelativeRoot}themes/default/assets/favicon.png">
        <title>Tunalog</title>
        <style>
            html, body {
                height: 100%;
                overflow-y: auto;
            }
            body {
                font-family: "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", "Noto Sans SC", "PingFang SC", "Microsoft YaHei", "Noto Sans JP", "Noto Sans KR", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
            }
            .has-flex-column {
                min-height: 100vh;
                height: auto !important;
            }
        </style>
    </head>
    <body>
        <form method="POST">
            <input type="hidden" name="_csrf" value="{=$ctx->CSRF}" />
            <div class="has-flex-column" style="height: 100vh">
                <div class="ts-content is-tertiary is-vertically-very-padded">
                    <div class="ts-container is-very-narrow">
                        <div class="ts-header is-big is-heavy">{=tr('wizard_welcome')}</div>
                        <div class="ts-text is-secondary">{=tr('wizard_description')}</div>
                    </div>
                </div>
                <div class="ts-divider"></div>
                <div class="has-flex-1">
                    <div class="ts-container is-very-narrow has-vertically-spaced-big">
                        {if $ctx->Message}
                        <div class="ts-notice is-negative has-bottom-spaced">
                            <div class="content">{=$ctx->Message}</div>
                        </div>
                        {/if}
                        <div class="ts-header is-large">{=tr('wizard_settings')}</div>
                        <div class="ts-text is-secondary">{=tr('wizard_settings_description')}</div>
                        <div class="ts-content is-rounded is-secondary tablet+:has-padded-big has-top-spaced-large">
                            <!-- locale -->
                            <div class="ts-control is-wide mobile:is-stacked">
                                <div class="label">{=tr('settings_locale')}</div>
                                <div class="content">
                                    <div class="ts-select" style="min-width: 260px">
                                        <select id="locale-input" name="locale">
                                            {foreach $ctx->Locales as $k => $v}
                                            <option value="{=$v}" {if eq($ctx->DefaultLocale, $v)}selected{/if}>{=$k}</option>
                                            {/foreach}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- / locale -->

                            <div class="ts-divider has-top-spaced-large"></div>

                            <!-- name -->
                            <div class="ts-control is-wide mobile:is-stacked has-top-spaced-large">
                                <div class="label">{=tr('settings_name')}</div>
                                <div class="content">
                                    <div class="ts-input">
                                        <input type="text" name="name" value="{=tr('wizard_name_value')}" required />
                                    </div>
                                </div>
                            </div>
                            <!-- / name -->

                            <!-- description -->
                            <div class="ts-control is-wide mobile:is-stacked has-top-spaced-large">
                                <div class="label">{=tr('settings_slogan')}</div>
                                <div class="content">
                                    <div class="ts-input"><input type="text" name="description" value="{=tr('wizard_slogan_value')}" /></div>
                                    <div class="ts-text is-description has-top-spaced-small">{=tr('wizard_slogan_description')}</div>
                                </div>
                            </div>
                            <!-- description -->

                            <!-- timezone -->
                            <input type="hidden" id="timezone-input" name="timezone" value="" />
                            <!-- / timezone -->
                        </div>
                        <div class="ts-header is-large has-top-spaced-big">{=tr('wizard_admin')}</div>
                        <div class="ts-text is-secondary">{=tr('wizard_admin_description')}</div>
                        <div class="ts-content is-rounded is-secondary tablet+:has-padded-big has-top-spaced-large">
                            <!-- email -->
                            <div class="ts-control is-wide mobile:is-stacked">
                                <div class="label">{=tr('users_email')}</div>
                                <div class="content">
                                    <div class="ts-input">
                                        <input type="text" name="email" value="admin@example.com" required />
                                    </div>
                                </div>
                            </div>
                            <!-- / email -->

                            <!-- nickname -->
                            <div class="ts-control is-wide mobile:is-stacked has-top-spaced-large">
                                <div class="label">{=tr('users_nickname')}</div>
                                <div class="content">
                                    <div class="ts-input">
                                        <input type="text" name="nickname" value="Admin" required />
                                    </div>
                                    <div class="ts-text is-description has-top-spaced-small">{=tr('wizard_nickname_description')}</div>
                                </div>
                            </div>
                            <!-- / nickname -->

                            <!-- password -->
                            <div class="ts-control is-wide mobile:is-stacked has-top-spaced-large">
                                <div class="label">{=tr('users_password')}</div>
                                <div class="content">
                                    <div class="ts-input">
                                        <input type="password" name="password" value="admin" required />
                                    </div>
                                    <div class="ts-text is-description has-top-spaced-small">{=html(tr('wizard_password_description'))}</div>
                                </div>
                            </div>
                            <!-- / password -->
                        </div>
                    </div>
                </div>
                <div class="ts-divider"></div>
                <div class="ts-content is-tertiary is-vertically-padded is-end-aligned">
                    <div class="ts-container is-very-narrow">
                        <button type="submit" class="ts-button is-start-labeled-icon">
                            <span class="ts-icon is-rocket-icon"></span>
                            {=tr('button_finishwizard')}
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <script>
            document.getElementById('timezone-input').value = new Date().getTimezoneOffset() * -60
            document.getElementById('locale-input').addEventListener('change', function () {
                window.location.href = "?locale=" + this.value;
            });
        </script>
    </body>
</html>
