<!DOCTYPE html>
<html class="{if $ctx->Config->ContainerWidth}container-{=$ctx->Config->ContainerWidth}{/if} text-{=$ctx->Config->FontSize} font-{=$ctx->Config->FontFamily} {if $ctx->Config->ColorScheme}is-{=$ctx->Config->ColorScheme}{/if}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{=$ctx->Post->Title} - {=$ctx->Config->Name}</title>
    {if $ctx->IsUnlocked}
    <meta name="description" content="{=$ctx->Post->Excerpt}">
    <meta property="og:description" content="{=$ctx->Post->Excerpt}" />
    {/if}
    <!-- og -->
    <meta property="og:title" content="{=$ctx->Post->Title}" />
    <meta property="og:site_name" content="{=$ctx->Config->Name}" />
    <meta property="og:url" content="{=$ctx->URL->Absolute}" />
    {if $ctx->Post->Cover}
    <meta property="og:image" content="{=$ctx->URL->Root}/{=$ctx->Post->Cover}" />
    {/if}
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{=$ctx->Post->PublishedDate}" />
    <meta property="article:author" content="{=$ctx->Post->Author->Nickname}" />
    {foreach $ctx->Post->Tags as $dot1}
    <meta property="article:tag" content="{=$dot1->Name}" />
    {/foreach}
    <!-- / og -->
    <link rel="stylesheet" href="{=$ctx->URL->RelativeRoot}assets/tocas.min.css" />
    <script src="{=$ctx->URL->RelativeRoot}assets/tocas.min.js"></script>
    {if $ctx->Config->HighlightJS}
    <link rel="stylesheet" href="{=$ctx->URL->RelativeRoot}assets/highlight.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    {/if}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="{=$ctx->URL->RelativeRoot}assets/style.css" />
    <link rel="icon" type="image/png" href="{=$ctx->URL->RelativeRoot}assets/favicon.png">
    {=$ctx->Config->InjectedHead|html}
</head>
<body id="page">
    <!--- drawer -->
    <dialog id="singular-drawer" class="ts-app-drawer is-end is-small">
        <div class="content">
            <div class="ts-content is-padded">
                <div class="ts-grid is-middle-aligned">
                    <div class="column is-fluid">
                        <div class="ts-header">{=tr('button_menu')}</div>
                    </div>
                    <div class="column">
                        <button class="ts-button is-fluid is-outlined" data-dialog="singular-drawer">
                            {=tr('button_close')}
                        </button>
                    </div>
                </div>
                {if $ctx->Navigations}
                <div class="ts-list is-unordered has-top-spaced-large">
                    {foreach $ctx->Navigations as $dot2}
                    <a href="{=$dot2->URL}" class="item">{=$dot2->Name}</a>
                    {/foreach}
                </div>
                {/if}
            </div>
        </div>
    </dialog>
    <!--- / drawer -->

    <div id="page-content" class="tablet+:has-top-padded-big tablet+:has-bottom-padded-massive mobile:has-bottom-padded-big mobile:has-top-padded-large">

        <div class="ts-container">
            <!-- header -->
            <div class="ts-grid is-middle-aligned">
                <div class="column is-fluid">
                    <a href="{=$ctx->URL->RelativeRoot}" class="ts-header is-heavy tablet+:is-large">{=$ctx->Config->Name}</a>
                </div>
                <div class="column">
                    <button class="ts-button is-fluid is-outlined" data-dialog="singular-drawer">
                        {=tr('button_menu')}
                    </button>
                </div>
            </div>
            <!--- / header -->

            <!-- cover -->
            {if $ctx->Post->Cover}
            <div id="singular-cover" class="ts-image is-rounded is-16-by-9 tablet+:has-top-spaced-big mobile:has-top-spaced-large">
                <img src="{=$ctx->Post->Cover}" />
            </div>
            {/if}
            <!-- / cover -->

            <!-- date -->
            <div class="date ts-meta is-secondary tablet+:has-top-spaced-big mobile:has-top-spaced-large">
                <a href="{=$ctx->URL->RelativeRoot}archive/{=$ctx->Post->PublishedYear}/{=$ctx->Post->PublishedMonth}/{=$ctx->Post->PublishedDay}" class="item">
                    {=$ctx->Post->PublishedAt|unix2date}
                </a>
                {if $ctx->Post->PinnedAt}
                <span class="item">{=tr('status_pinned')}</span>
                {/if}
                {if $ctx->Self}
                <a href="{=$ctx->URL->RelativeRoot}admin/post/{=$ctx->Post->ID}" class="item">
                    {=tr('button_editpost')} <span class="ts-icon is-pen-to-square-icon"></span>
                </a>
                {/if}
            </div>
            <!-- / date -->

            <!-- title -->
            <div class="ts-header is-heavy tablet+:is-massive mobile:is-big">
                {if eq($ctx->Post->Visibility, 'private')}{=tr('title_private')}{/if}
                {if eq($ctx->Post->Visibility, 'draft')}{=tr('title_draft')}{/if}
                {if eq($ctx->Post->Visibility, 'password')}{=tr('title_password')}{/if}
                {=$ctx->Post->Title}
                {if bool_not($ctx->Post->IsPublished)}{=tr('title_scheduled')}{/if}
            </div>
            <!-- / title -->

            <div class="ts-divider has-top-spaced-large"></div>

            <!-- content -->
            {if $ctx->IsUnlocked}
                {=$ctx->Config->InjectedPostStart}

                {if eq($ctx->Config->AuthorBlock, 'start')}
                    {{ template "author.html" . }}
                {/if}

                <div id="singular-content" class="has-top-spaced-large">
                    {=markdown($ctx->Post->Content)}
                </div>

                {if $ctx->Post->Tags}
                <div id="singular-tags" class="ts-wrap has-top-spaced-big">
                    {foreach $ctx->Post->Tags as $dot3}
                    <a href="{=$ctx->URL->RelativeRoot}tag/{=$dot3->Slug}" class="tags-item">#{=$dot3->Name}</a>
                    {/foreach}
                </div>
                {/if}

                {if eq($ctx->Config->AuthorBlock, 'end')}
                    {{ template "author.html" . }}
                {/if}

                {=$ctx->Config->InjectedPostEnd}
            {else}
                <!-- locked -->
                {if $ctx->Message}
                <div class="ts-notice has-bottom-spaced-large has-top-spaced-large">
                    <div class="title">{=tr('notice_title')}</div>
                    <div class="content">{=$ctx->Message}</div>
                </div>
                {/if}

                <form method="POST">
                    <input type="hidden" name="_csrf" value="{=$ctx->CSRF}" />
                    <div class="ts-content is-fitted is-secondary has-top-spaced-large">
                        <div class="ts-blankslate is-narrow">
                            <span class="ts-icon is-lock-icon"></span>
                            <div class="header">{=tr('password_title')}</div>
                            <div class="description">{=tr('password_description')}</div>
                            <div class="action">
                                <div class="ts-grid">
                                    <div class="column is-fluid">
                                        <div class="ts-input">
                                            <input type="text" name="password" placeholder="{=tr('password_placeholder')}" required />
                                        </div>
                                    </div>
                                    <div class="column">
                                        <button type="submit" class="ts-button">{=tr('button_unlock')}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- / locked -->
            {/if}
            <!-- / content -->


            <!-- pagination -->
            {if bool_or($ctx->PreviousPost, $ctx->NextPost)}
            <div class="ts-divider has-top-spaced-large"></div>

            <div id="singular-pagination" class="has-top-spaced-large">
                <div class="ts-grid tablet+:is-2-columns mobile:is-1-columns">
                    {if $ctx->NextPost}
                    <a href="{=$ctx->NextPost->Slug}" class="pagination-item column">
                        <div class="ts-text is-small is-secondary">{=tr('pagination_new_label')}</div>
                        <div class="item-header ts-header">{=$ctx->NextPost->Title}</div>
                    </a>
                    {/if}
                    {if bool_not($ctx->NextPost)}
                    <div class="column mobile:has-hidden"></div>
                    {/if}
                    {if $ctx->PreviousPost}
                    <a href="{=$ctx->PreviousPost->Slug}" class="pagination-item column tablet+:is-end-aligned">
                        <div class="ts-text is-small is-secondary">{=tr('pagination_old_label')}</div>
                        <div class="item-header ts-header tablet+:is-end-aligned">{=$ctx->PreviousPost->Title}</div>
                    </a>
                    {/if}
                    {if bool_not($ctx->PreviousPost)}
                    <div class="column"></div>
                    {/if}
                </div>
            </div>
            {/if}
            <!-- / pagination -->
        </div>
    </div>

    <!-- footer -->
    {if $ctx->Config->FooterText}
    <div id="page-footer" class="ts-content is-horizontally-fitted">
        <div class="ts-container">{=$ctx->Config->FooterText|html}</div>
    </div>
    {/if}
    <!-- / footer -->

    {if $ctx->Config->HighlightJS}
    <script>
        hljs.highlightAll()
    </script>
    {/if}

    {=$ctx->Config->InjectedFoot|html}
</body>
</html>
